@import '~styles/common/variables';
@import '~styles/common/mixins';

.clock-number-wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 70px 0 30px;
	&__row {
		display: block;
		@include mq(max, 560px){
			text-align: center;
		}
		> div {
			display: inline-block;
		}
	}
}

.clock-number {
	width: $clock-width * 4 + 4 * $clock-spacing * 2;
}

.clock-item {
	position: relative;
	display: inline-block;
	margin: $clock-spacing;
	$size: $clock-width;
	width: $size;
	height: $size;
	border-radius: $size;
	background: $l-clock-bg;
	@include dark(){
		background: $d-clock-bg;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border: $border-width solid;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		border-color: $l-clock-border;
		@include dark(){
			border-color: $d-clock-border;
		}
	}
	line {
		transform-origin: center;
		stroke-width: $stroke-width;
		stroke: $l-clock-line;
		@include dark(){
			stroke: $d-clock-line;
		}
	}
	circle {
		fill: $l-clock-dot;
		@include dark(){
			fill: $d-clock-dot;
		}
	}
}
