@import '~styles/common/variables';
@import '~styles/common/mixins';

.controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 14px;
	opacity: 1;
	transition:
		opacity 0.6s ease-out,
		visibility 0s ease
	;

	svg {
		width: 20px;
		height: 20px;
		fill: $l-icon-fill;
		transition: fill 0.2s ease-out;
		@include dark(){
			fill: $d-icon-fill;
		}
	}

	&__button {
		padding: 8px;
		display: inline-block;
		transition: background 0.2s ease, border-color 0.2s ease;
		border-radius: 2px;
		border: 1px solid transparent;
		position: relative;
		$active: rgba($l-icon-fill, 0.08);
		&:hover {
			background: $active;
			border-color: rgba($l-icon-fill, 0.05);
			svg {
				fill: darken($l-icon-fill, 10%);
			}
		}
		&.state_active {
			background: $active;
		}
		@include dark(){
			$active: darken($d-body, 3.5%);
			&:hover {
				background: $active;
				border-color: rgba($d-icon-fill, 0.09);
				svg {
					fill: white;
				}
			}
			&.state_active {
				background: $active;
			}
		}
	}

	// placement
	&__right-bar {
		display: inline-block;
		float: right;
		button {
			margin-left: 4px;
		}
	}

	&.state_fullscreen {
		opacity: 0;
		visibility: hidden;
		transition: 
			opacity 0.45s 0.5s ease-out,
			visibility 0.5s 0.6s ease
		;
	}
}