@import '~styles/common/variables';

.controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 14px;
	opacity: 1;
	transition:
		opacity 0.6s ease-out,
		visibility 0s ease
	;

	svg {
		width: 20px;
		height: 20px;
		fill: $icon-fill;
		transition: fill 0.2s ease-out;
	}

	&__button {
		padding: 8px;
		display: inline-block;
		transition: background 0.2s ease, border-color 0.2s ease;
		border-radius: 2px;
		$active: rgba($icon-fill, 0.08);
		border: 1px solid transparent;
		&:hover {
			background: $active;
			border-color: rgba($icon-fill, 0.05);
			svg {
				fill: darken($icon-fill, 10%);
			}
		}
		&.state_active {
			background: $active;
		}
	}

	// placement
	&__right-bar {
		display: inline-block;
		float: right;
		button {
			margin-left: 4px;
		}
	}

	&.state_fullscreen {
		opacity: 0;
		visibility: hidden;
		transition: 
			opacity 0.45s 0.6s ease-out,
			visibility 0.5s 0.6s ease
		;
	}
}