@import "base/normalize";
@import "base/global";

@import '~styles/common/mixins';

@import "components/other";
@import "components/simple-hint";
@import "components/controls";
@import "components/clock";
@import "components/custom-number-select";

html {
	background: white;
}

body {
	width: 100%;
	background: $l-body;
	&.state_dark {
		background: $d-body;
	}
}

