
// ******** fonts ********
$font-main: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;


// ******** colors ********
$body-default: #333;


// ******** animation easings ********
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);


/* 
	************
	app stuff
	************
*/

// clock variables (also used in .jsx)
$clock-radius: 30px;

// sizing
$clock-width: $clock-radius * 2;
$clock-spacing: 2px;
$stroke-width: 5px;
$border-width: 5px;

// ******** colors ********

// light
$l-body: #f9f9f9;
$l-clock-line: #6d6d6d;
$l-clock-dot: darken($l-clock-line, 10%);
$l-clock-border: #f0f0f0;
$l-clock-bg: #fefefe;

$l-icon-fill: $l-clock-line;
$l-tooltip-bg: $l-clock-line;

// dark
$d-body: #2d3438;
$d-clock-line: darken(#eeeeee, 5%);
$d-clock-dot: #c8d3d8;
$d-clock-border: darken($d-body, 1%);
$d-clock-bg: lighten($d-body, 6%);

$d-icon-fill: $d-clock-line;
$d-tooltip-bg: darken($d-body, 4%);
